<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenidos !</title>
</head>
<body>
<h1> Sistema de administración de personas. (SAP)</h1>



<div>
   Número de personas: {{no_personas}}
</div>

<div>
    <ul>
        {% for persona in personas %}
        <li>Persona {{persona.id}}:
            {{persona.nombre}}
            {{persona.apellido}}
            {{persona.email}}
            <a href="detalle_persona/{{persona.id}}">ver detalle</a>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>